@font-face {
    font-family: 'InriaSerif';
    src: url("./fonts/InriaSerif-Regular.ttf");
}

@font-face {
    font-family: 'InriaSerifBold';
    src: url("./fonts/InriaSerif-Bold.ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/MaterialIcons-Regular.ttf'),
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
    margin: 0;
    outline: 0;
}

body {
    background-color: #C3AE7D;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: 'InriaSerif';
    font-weight: normal;
    font-size: 64px;
}

h3 {
    font-family: 'InriaSerif';
    font-weight: normal;
    font-size: 24px;
}

h6 {
    font-family: 'InriaSerif';
    font-weight: normal;
    font-size: 16px;
}

a {
    color: #441010;
}

a:hover {
    color: #651010;
}

.nav-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu > * {
    width: 100%;
}

.nav-menu > h1 {
    width: 30%;
}

.nav-menu > h1 {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: center;
    height: 100%;
    align-items: stretch;
    width: 30%;
}

.menu-button {
    cursor: pointer;
    font-family: 'InriaSerif';
    font-weight: normal;
    background-color: #443030;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.menu-button:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-menu-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-menu-block > * {
    padding: 10px;
    font-size: 32px;
    font-family: 'InriaSerif';
    font-weight: normal;
}

.button-reference {
    cursor: pointer;
    font-family: 'InriaSerif';
    font-weight: normal;
    padding: 15px 40px;
    color: #441010;
    background-color: rgba(0, 0, 0, 0);
    font-size: 32px;
    border: none;
    text-decoration: underline;
}

.button-reference:hover {
    color: #651010;
}

.small-header {
    font-size: 40px;
}

.bold {
    font-family: 'InriaSerifBold';
    font-weight: normal;
}

.input-form {
    padding-bottom: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.input-blocks {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-block {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-block > h6 {
    align-self: flex-end;
}

.input-block > h3 {
    margin-bottom: 10px;
}

.input-block > input, .input-block > select {
    font-family: 'InriaSerif';
    border: none;
    background-color: #D9D9D9;
    width: 320px;
    height: 30px;
    font-size: 18px;
}

.input-block > input:focus {
    outline: none;
    box-shadow: inset 0px 1px 10px #B9B9B9;
}

.confirm-button {
    cursor: pointer;
    font-family: 'InriaSerif';
    font-weight: normal;
    padding: 15px 40px;
    background-color: #443030;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
}

.error {
    color: #A20000;
}

.hidden {
    visibility: hidden;
}

.account-and-categories {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.account-and-categories > div {
    width: 100%;
    height: 100%;
}

.accounts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.account-entries {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.account-entry {
    width: 70%;
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.account-entry > * {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-balance {
    width: 60%;
}

.account-entry > *:first-child {
    padding: 0px;
}

.account-link {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.account-link > div {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 5px;
    align-items: center;
}

.account-entry > *:last-child {
    width: 20%;
    padding: 0;
}

.account-entry > td:last-child > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.account-creation-entry {
    margin: 10px;
    width: 70%;
    background-color: #443030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-creation-entry > td {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
}

.account-creation-entry > td > a {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.categories {
    display: flex;
    flex-direction: column;
}

.categories-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.categories-block:last-child {
    margin-top: 10px;
}

.category-entries {
    height: 100%;
    width: 100%;
}

.category-entries > div {
    display: flex;
    flex-wrap: wrap;
}

.category-entry {
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 30px;
}

.category-entry > * {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

.category-entry > a > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-entry > .material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.category-creation-entry {
    height: 30px;
    padding: 5px;
}

.category-creation-entry > a {
    /* border: 1px solid black; */
    background-color: #443030;
    color: #FFFFFF;
    height: 28.4px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
}

.category-creation-entry > a > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-group > * {
    margin-left: 10px;
    margin-right: 10px;
}

.ref-button {
    border: 1px solid black;
    font-family: 'InriaSerif';
    font-weight: normal;
    padding: 15px 40px;
    font-size: 18px;
    text-decoration: none;
}

.ref-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.warning-block {
    width: 40%;

}

.warning {
    color: #A20000;
    font-size: 24px;
    text-align: center;
}

.warning-button {
    background-color: #651010
}