<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts list</title>
</head>
<body>
    <table>
        <tr>
            <td><a th:href="@{/}">Back</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/account/create}"><button>Create account</button></a></td>
        </tr>
        <tr th:each="account: ${accounts}">
            <td th:text="${account.getName()}"></td>
            <td th:text="${account.getCurrentBalance()}"></td>
            <td><a th:href="@{/account/edit/{accountId}(accountId=${account.getId()})}">change</a></td>
            <td><a th:href="@{/account/delete/{accountId}(accountId=${account.getId()})}">delete</a></td>
        </tr>
    </table>
</body>
</html>