<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete operation</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>

<body>
    <header>
        <h1>Delete operation</h1>
    </header>

    <form method="post" th:action="@{''}" th:object="${operationDeletionForm}" class="input-form">
        <div class="input-blocks">
            <div class="input-block warning-block">
                <h6 class="warning">
                    <p>Are you sure you want to delete this operation?</p>
                    <br>
                    <p>This action is irreversible and will cause balance change on its accounts</p>
                </h6>
            </div>
        </div>

        <div class="buttons-group">
            <a th:href="@{/operation}" class="ref-button">Cancel</a>
            <input class="confirm-button warning-button" type="submit" value="Confirm"></input>
        </div>
    </form>
</body>

</html>