<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>
    <header class="nav-menu">
        <div class="nav-menu-block">
            <a th:href="@{/settings}">Settings</a>
        </div>
        <h1>Menu</h1>
        <div class="nav-menu-block">
            <p>You are <span class="bold" th:text="${username}"></span></p>
            <form method="POST" th:action="@{/logout}">
                <input class="button-reference" type="submit" value="Log out">
            </form>
        </div>
    </header>

    <div class="menu">
            <a class="menu-button" th:href="@{/accounts-and-categories}">Accounts & Categories</a>
            <a class="menu-button" th:href="@{/operations}">Operations</a>
            <a class="menu-button" th:href="@{/analytics}">Analytics</a>
    </div>
</body>

</html>