<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>

<body>
    <form method="post" th:action="@{/login}" th:object="${loginForm}" class="reg-form">
        <h1>Login</h1>
        <div class="input-block">
            <h3>Username</h3>
            <input type="text" th:field="*{username}">
            <h6 th:if="${param.error}">Wrong username or password</h6>
            <h6 th:if="${! #fields.hasErrors('password')}" class="hidden">Error</h6>
        </div>

        <div class="input-block">
            <h3>Password</h3>
            <input type="password" th:field="*{password}">
            <h6 th:errors="*{password}">Error</h6>  
            <h6><a th:href="@{/register}">Not registered yet?</a></h6>
        </div>

        <input class="confirm-button" type="submit" value="Sign on"></input>
    </div>
</body>

</html>